[user]
	name = Oliver Blanthorn
	email = freedom4cows@gmail.com

[core]
	editor = vim

[color]
	status = auto
	branch = auto
	interactive = auto
	diff = auto
    ui = true

[core]
    excludesfile = ~/.gitignore
